.particles-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
}

.particles-container canvas {
    width: 100% !important;
    height: 100% !important;
}